/* General Styles */
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top */
  min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #3498db; /* A modern blue for headings */
}

/* Table Styles */
table {
  width: 90%; /* Take up most of the available width */
  max-width: 1200px; /* But don't get too wide */
  border-collapse: collapse;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: #fff;
  border-radius: 8px; /* Rounded corners for a softer look */
  overflow: hidden; /*  Fixes border-radius issue in some browsers */
}

thead {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  text-transform: uppercase; /* Makes headers stand out */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Slightly different background for even rows */
}

tbody tr:hover {
  background-color: #e0e0e0; /* Highlight on hover for interaction */
}

/* Specific Column Styling (Colors based on difficulty) */
td:nth-child(2) {
  /* Grey */
  color: #8e44ad;
}

td:nth-child(3) {
  /* Brown */
  color: rgb(128, 64, 0);
}

td:nth-child(4) {
  /* Green */
  color: rgb(0, 128, 0);
}

td:nth-child(5) {
  /* Cyan */
  color: rgb(0, 192, 192);
}

td:nth-child(6) {
  /* Blue */
  color: rgb(0, 0, 255);
}

td:nth-child(7) {
  /* Yellow */
  color: rgb(192, 192, 0);
}

td:nth-child(8) {
  /* Orange */
  color: rgb(255, 128, 0);
}

td:nth-child(9) {
  /* Red */
  color: rgb(255, 0, 0);
}

/* Make the table responsive */
@media (max-width: 768px) {
  table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
}

/* Progress Circle Styles */
.progress-circle {
    width: 12px; /* Adjust size as needed */
    height: 12px;
    border-radius: 50%;
    border-style: solid;
    background-color: #eee; /* Light gray background */
    position: relative;
    overflow: hidden;
    display: inline-block; /* Align with text */
    margin-right: 5px; /* Space between circle and text */
    vertical-align: middle;
}

.progress-circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}